name: ssid_finder
description: Extract SSID tokens from trading platforms with ease. Supports OlympTrade, PocketOptions, and more.
publish_to: 'none'
version: 1.0.0+1

# App metadata for stores
homepage: https://github.com/theshadow76/Chipa-SSID-Finder

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_inappwebview: ^6.0.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
